@use "../../../styles/abstracts" as *;

.logo {
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: px-to-rem(15);
  }

  &__name {
    font-size: px-to-rem(30);
    font-weight: 700;
  }
}
