:root {
  --bg-body: #f2f8ff;
  --bg-components: #ffffff;
  --text-color: #001a34;
  --color-text-button: #fdfdfd;
  --color-accent: #7a75f8;
  --color-passive: #829ed7;

  --color-red-passive: #ff5667;
  --color-red-active: #ff1d34;

  --color-tag: #7a75f8;
  --color-bg-tag: rgb(196 194 255 / 50%);

  --color-scroll: rgb(130, 130, 215, 0.3);

  --hero-image: url("../../assets/image/hero_light_.webp");

  --font-family: "Inter", sans-serif;
  --text-uppercase: uppercase;

  --container-width: 1240px;
  --container-padding-x: 24px;

  --section-padding-y-top: 20px;
  --section-padding-y-bottom: 30px;

  --button-padding-small: 10px 15px;
  --button-padding-medium: 15px 20px;
  --button-padding-large: 15px 25px;
  --button-padding-icon: 15px 20px;
  //TODO: добавить падинги кнопки для мобилок

  --border-radius: 10px;
  --border-radius-card: 10px;
  --border-radius-input: 20px;
  --border-radius-toggle: 15px;

  --border: none;

  --transition-duration: 0.3s ease;
  --toggle-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
[data-theme="dark"] {
  --bg-body: #0f172a;
  --bg-components: #1e293b;
  --text-color: #f8fafc;

  --hero-image: url("../../assets/image/hero_dark_.webp");

  --color-tag: #7a75f8;
  --color-bg-tag: rgb(89 87 144 / 50%);

  --color-scroll: rgba(0, 0, 0, 0.3);
  --color-scroll-hover: rgba(0, 0, 0, 0.5);
}
