:root {
  --bg-body: #f5f9fd;
  --bg-components: #ffffff;
  --text-color: #001a34;
  --color-accent: #7a75f8;
  --color-passive: #829ed7;

  --color-tag: #a175f8;
  --color-bg-tag: rgba(122, 117, 248, 0.5);

  --font-family: "Inter", sans-serif;
  --text-uppercase: uppercase;

  --container-width: 1240px;
  --container-padding-x: 24px;

  --section-padding-y-top: 20px;
  --section-padding-y-bottom: 30px;

  --button-padding: 15px 20px;
  //TODO: добавить падинги кнопки для мобилок

  --border-radius: 10px;
  --border-radius-card: 10px;
  --border-radius-input: 20px;

  --border: none;

  --transition-duration: 0.3s ease;
}
[data-theme="dark"] {
  --bg-body: #0f172a;
  --bg-components: #1e293b;
  --text-color: #f8fafc;
}
