@use "../../../styles/abstracts" as *;

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--bg-components);
  max-width: 600px;
  border-radius: var(--border-radius-input);
  padding: 10px;
  transition: box-shadow var(--transition-duration);

  &__input-wrapper {
    position: relative;
    flex-grow: 1;
  }
  &__icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-passive);
    pointer-events: none;
  }
  &__input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    padding: 12px 16px 12px 52px;
    font-size: px-to-rem(16);
    color: var(--text-color);

    &::placeholder {
      color: var(--color-passive);
      font-size: px-to-rem(18);
    }
  }
  &:has(input:focus) {
    box-shadow: 0px 0px 8px 0px var(--color-accent);
  }
}
