@use "../abstracts" as *;
* {
  touch-action: manipulation;
}

html {
  scroll-behavior: smooth;
}

body {
  @include fluid-text(18, 16);
  background-color: var(--bg-body);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.28;
}

html,
body,
#root {
  height: 100%;
}

body,
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

a,
button,
input,
svg * {
  transition-duration: var(--transition-duration);
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: fluid(px-to-rem(40), px-to-rem(52));
}
h2 {
  font-size: fluid(px-to-rem(30), px-to-rem(36));
}
h3 {
  font-size: fluid(px-to-rem(24), px-to-rem(30));
}
h4 {
  font-size: fluid(px-to-rem(18), px-to-rem(20));
}
h5 {
  font-size: fluid(px-to-rem(16), px-to-rem(18));
}
p {
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: calc(
    var(--container-width) + var(--container-padding-x) * 2
  ); // Отступы бо бокам
  margin-inline: auto; // По центру
  padding-inline: var(--container-padding-x); // Внутренние отступы
}

.section {
  padding-bottom: var(--section-padding-y-bottom);
  padding-top: var(--section-padding-y-top);
}

.caption {
  text-transform: var(--text-uppercase);
  color: var(--color-tag);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.4;
  background: var(--color-bg-tag);
  padding: px-to-rem(5);
  border-radius: var(--border-radius-card);
}

.hidden-tablet {
  @include tablet-down {
    display: none !important;
  }
}
.visible-tablet {
  @include tablet-up {
    display: none;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}
.visible-mobile {
  @include mobile-above {
    display: none;
  }
}
